body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 1.5px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1{
    color: green;
}
label, input, button {
    display: block;
    margin: 10px 0;
}
input {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 1px solid #e19999;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
button:hover {
    background-color: #0056b3;
}